<!-- Services Section -->
    <section id="call" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Call for Papers</h2>
                </div>
            </div>
            <div class="row container">
<p><span>Major breakthroughs in Artificial Intelligence (AI) have raised strong interests from research and industry towards Machine Learning (ML), the discipline of AI that aims at building software that automatically learns from data. As a result, ML systems increasingly gain popularity and will soon proliferate in a broad range of domains. However, they also raise many questions, in particular regarding their reliable engineering. Conversely, recent advances in Software Engineering (SE) themselves rely on ML. Several software development activities can thus now benefit from AI-based assistance and we expect many more in the coming years.</span></p>

<p><span>This workshop aims at bringing together the SE and ML communities to reflect on the potential symbioses between their respective disciplines. As such, it targets innovative ML applications improve SE practices, as well as new engineering methods for ML-based systems.</span></p>

<h2><a name=TOC-Topics-of-Interest></a>Topics of Interest</h2>

<p class=MsoNormal><span>Topics include, but are not
limited to:</span></p>

<ul type=disc>
 <li>
 	<span>Machine learning for software engineering</span>
 	<ul type=disc>
 		<li><span>Applications of machine learning to software analysis, Verification and Validation,</span></li>
 		<li><span>Naturalness-based code analysis,</span></li>
 		<li><span>Analysis of software repositories,</span></li>
 		<li><span>Human-machine collaboration for engineering software systems,</span></li>
 		<li><span>Performance prediction of software systems,</span></li>
		<li><span>Natural language processing for requirements extraction.</span></li>
 	</ul>
 </li>

 <li>
 	<span>Engineering methods for machine-learning systems</span>
 	<ul type=disc>
 		<li><span>Automated machine learning, </span></li>
 		<li><span>Scalable infrastructure for machine learning, </span></li>
 		<li><span>Validation and verification of learning systems,</span></li>
 		<li><span>Requirements engineering for machine-learning systems,</span></li>
 		<li><span>Design of safety-critical learning software, </span></li>
 		<li><span>Integration of learning systems in software ecosystems.</span></li>
 	</ul>
 </li>

</ul>

<h2><a name=TOC-Types-of-Submissions></a>Types of Submissions</h2>

<p class=MsoNormal><span>We invite original papers from 2 to 10 pages in the conference format
  <strike>
  (two columns <a href="https://www.ieee.org/conferences_events/conferences/publishing/templates.html">
    <span style='color:#551A8B'>IEEE conference publication format</span>
  </a>, title in 24pt font and full text in 10pt font, LaTeX users must use
  <code>\documentclass[10pt,conference]{IEEEtran}</code> without including the <code>compsoc</code> or <code>compsocconf</code> option)
  </strike>
  (<a href="https://www.acm.org/publications/proceedings-template">
    <span style='color:#551A8B'>ACM Proceedings Template</span>
  </a>, LaTEX users must use <code>\documentclass[sigconf]{acmart}</code>)
  describing positions and visions as well as technical contributions and experience reports. Reports on existing research projects
  (e.g., H2020) and industrial perspectives are also welcome.
  The proceedings will be published by IEEE through the IEEE Xplore platform.
  The review process is single-blind. Each contribution will be reviewed by at least three members of the programme committee.</span></p>


<h2>Important Dates</h2>
  <ul type=disc>
    <li>Submission of full papers: <strike>June 15, 2018</strike> <b>June 25, 2018</b></li>
    <li>Notification of acceptance: July 20, 2018</li>
    <li>Camera Ready: <strike>July 30, 2018</strike> <b>July 29, 2018, 23h59 AoE</b></li>
    <li>Workshop date: September 3, 2018</li>
</ul>

<h2>Submission Site</h2>

Submissions will be handled via EasyChair: <a href="https://easychair.org/conferences/?conf=mases18"><span style='color:#551A8B'>https://easychair.org/conferences/?conf=mases18</span></a>

<!--
<p><span>
    <b>Downloads: </b><a href="../cfp/cfp_mutation2018.pdf">CfP<sub>pdf</sub></a>
         &nbsp;&nbsp;<a href="../cfp/cfp_mutation2018.txt">CfP<sub>txt</sub></a>
</span></p>


                 <center>
                      <a href="../#organisation" class="page-scroll btn btn-xl">Organisation</a>
                 </center>
-->

            </div>
        </div>
    </section>
