<!-- Services Section -->
    <section id="intro">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About MASES 2018</h2>
                </div>
            </div>
            <div class="row container">
		<center>
                  <p><span>Major breakthroughs in Artificial Intelligence (AI) have raised strong interests from research and industry towards Machine Learning (ML), the discipline of AI that aims at building software that automatically learns from data. As a result, ML systems increasingly gain popularity and will soon proliferate in a broad range of domains. However, they also raise many questions, in particular regarding their reliable engineering. Conversely, recent advances in Software Engineering (SE) themselves rely on ML. Several software development activities can thus now benefit from AI-based assistance and we expect many more in the coming years.</span></p>

		  <!--<p>Mutation 2018 is the 13<sup>th</sup> in the series of
                    international workshops focusing on mutation analysis. The
                    workshop will be held in conjunction with the 11<sup>th</sup>
                    International Conference on Software Testing, Verification,
                    and Validation (<a href="http://www.es.mdh.se/icst2018/">ICST 2018</a>). Accepted papers will be
                    published as part of the ICST proceedings.</p> -->

		  <p>This workshop aims at bringing together the SE and ML communities to reflect on the potential symbioses between their respective disciplines. As such, it targets innovative ML applications improve SE practices, as well as new engineering methods for ML-based systems.</p><br>
		  
			</center>
                 <center><a href="../#call" class="page-scroll btn btn-xl">Call for Papers</a></center>
            </div>
        </div>
    </section>
